:root {
  --bug: #bddd6e;
  --dark: #5f4632;
  --dragon: #8a55fd;
  --electric: #fffa24;
  --fairy: #ff9fc2;
  --fighting: #e81318;
  --fire: #f67f0b;
  --flying: #5eb9b2;
  --ghost: #8e55a4;
  --grass: #3e9709;
  --ground: #e1d158;
  --ice: #1995a1;
  --normal: #ccc9aa;
  --poison: #a719d7;
  --psychic: #ec0e63;
  --rock: #776a3e;
  --steel: #7b8e8a;
  --water: #0a7abc;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 4px;

  border-radius: 8px;
  border: 1px solid #16161680;
  align-items: center;
  overflow: hidden;
  box-shadow: 4px 4px 8px 0px #00000040;
}

.card > img {
  height: 80%;
  margin: auto auto;
}

.tag {
  background-color: #16161680;
  position: absolute;
  padding: 4px 4px;
  border-bottom-right-radius: 8px;
  align-self: flex-start;
  color: white;
  font-size: 14px;
}

.name {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16161680;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.bug-flying {
  background: linear-gradient(135deg, var(--bug) 50%, var(--flying) 50%);
}

.bug-grass {
  background: linear-gradient(135deg, var(--bug) 50%, var(--grass) 50%);
}

.bug-poison {
  background: linear-gradient(135deg, var(--bug) 50%, var(--poison) 50%);
}

.water-fighting {
  background: linear-gradient(135deg, var(--water) 50%, var(--fighting) 50%);
}

.water-flying {
  background: linear-gradient(135deg, var(--water) 50%, var(--flying) 50%);
}

.water-ice {
  background: linear-gradient(135deg, var(--water) 50%, var(--ice) 50%);
}

.water-poison {
  background: linear-gradient(135deg, var(--water) 50%, var(--poison) 50%);
}

.water-psychic {
  background: linear-gradient(135deg, var(--water) 50%, var(--psychic) 50%);
}

.water {
  background-color: var(--water);
}

.fire-flying {
  background: linear-gradient(135deg, var(--fire) 50%, var(--flying) 50%);
}

.fire {
  background-color: var(--fire);
}

.grass-poison {
  background: linear-gradient(135deg, var(--grass) 50%, var(--poison) 50%);
}

.grass-psychic {
  background: linear-gradient(135deg, var(--grass) 50%, var(--psychic) 50%);
}

.grass {
  background-color: var(--grass);
}

.electric-steel {
  background: linear-gradient(135deg, var(--electric) 50%, var(--steel) 50%);
}

.electric-flying {
  background: linear-gradient(135deg, var(--electric) 50%, var(--flying) 50%);
}

.electric {
  background-color: var(--electric);
}

.poison-flying {
  background: linear-gradient(135deg, var(--poison) 50%, var(--flying) 50%);
}

.poison-ground {
  background: linear-gradient(135deg, var(--poison) 50%, var(--ground) 50%);
}

.poison {
  background-color: var(--poison);
}

.normal-fairy {
  background: linear-gradient(135deg, var(--normal) 50%, var(--fairy) 50%);
}

.normal-flying {
  background: linear-gradient(135deg, var(--normal) 50%, var(--flying) 50%);
}

.normal {
  background-color: var(--normal);
}

.bug {
  background-color: var(--bug);
}

.ground-rock {
  background: linear-gradient(135deg, var(--ground) 50%, var(--rock) 50%);
}

.ground {
  background-color: var(--ground);
}

.fairy {
  background-color: var(--fairy);
}

.fighting {
  background-color: var(--fighting);
}

.psychic-fairy {
  background: linear-gradient(135deg, var(--psychic) 50%, var(--fairy) 50%);
}

.psychic {
  background-color: var(--psychic);
}

.rock-ground {
  background: linear-gradient(135deg, var(--rock) 50%, var(--ground) 50%);
}

.rock-flying {
  background: linear-gradient(135deg, var(--rock) 50%, var(--flying) 50%);
}

.rock-water {
  background: linear-gradient(135deg, var(--rock) 50%, var(--water) 50%);
}

.rock {
  background-color: var(--rock);
}

.ghost-poison {
  background: linear-gradient(135deg, var(--ghost) 50%, var(--poison) 50%);
}

.ghost {
  background-color: var(--ghost);
}

.ice-flying {
  background: linear-gradient(135deg, var(--ice) 50%, var(--flying) 50%);
}

.ice-psychic {
  background: linear-gradient(135deg, var(--ice) 50%, var(--psychic) 50%);
}

.ice {
  background-color: var(--ice);
}

.dragon-flying {
  background: linear-gradient(135deg, var(--dragon) 50%, var(--flying) 50%);
}

.dragon {
  background-color: var(--dragon);
}

.dark {
  background-color: var(--dark);
}

.steel {
  background-color: var(--steel);
}

.flying {
  background-color: var(--flying);
}
