:root {
  --p-background: #16161690;
  --p-color: #ffffff;

  --bug: #bddd6e;
  --dark: #5f4632;
  --dragon: #8a55fd;
  --electric: #fffa24;
  --fairy: #ff9fc2;
  --fighting: #e81318;
  --fire: #f67f0b;
  --flying: #5eb9b2;
  --ghost: #8e55a4;
  --grass: #3e9709;
  --ground: #e1d158;
  --ice: #1995a1;
  --normal: #ccc9aa;
  --poison: #a719d7;
  --psychic: #ec0e63;
  --rock: #776a3e;
  --steel: #7b8e8a;
  --water: #0a7abc;
}

.App {
  display: grid;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  grid-auto-rows: 210px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 4px; */
  text-align: center;
}

@media screen and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .App {
    grid-template-columns: 1fr;
  }
}
